.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: lightgray;

}
.input-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.display-wrapper {
  display: flex;
  justify-content: space-around;
}
.display{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}
.display-tile {
  display: flex;
  justify-content: space-between;
  min-width: 360px;
  padding: 10px;
}
.display-buttons {
  display: flex;
  gap: 5px;
}
.edit-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}